# SPDX-License-Identifier: GPL-2.0-only

config SND_SOC_MT6572
	tristate "ASoC support for Mediatek MT6572 chip"
	depends on ARCH_MEDIATEK
	select SND_SOC_MEDIATEK
	help
	  This adds ASoC driver for Mediatek MT6572 boards
	  that can be used with other codecs.
	  Select Y if you have such device.
	  If unsure select "N".
